@tailwind base;
@tailwind components;
@tailwind utilities;

@import "base/fix.css";
@import "base/background.css";
@import "base/border.css";
@import "base/divide.css";
@import "base/hover.css";
@import "base/text.css";
@import "base/utils.css";
@import "base/loading.css";
@import "editor.css";

html, body, #__next {
  height: 100%;
}

body {
  overflow-y: scroll;
  @apply bg-gray-50 dark:bg-gray-900;
}



.caret-default {
  caret-color: black;
}

.dark .caret-default {
  caret-color: white;
}
